body {
    font: 14px sans-serif;
}

.login-box {
    width: 360px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px gray;
    margin: 0 auto;
    padding: 30px;
    margin-top: 2%;
    margin-bottom: 5%;
    background: white;
}

label.logo {
    margin: 0 auto;
}

.btn-primary {
    background-color: white;
    border-color: #f27100;
    color: #f27100;
}

.btn-primary:hover {
    background-color: #f27100;
    border-color: #f27100;
    color: white;
}

.signLink {
    color: #f27100;
    text-decoration: none;
}

.form-check {
    margin-bottom: 20px ;
}